div.sub-bar{
    padding: 0;
    background: white;
    display: flex;
}

img.vtc-icon{
    width: 4%;
    height: 4%;
    margin-left: 13%;
    margin-right: 30%;
    order: 0;
}

.navItem{
    font-weight: bold;
}

.navbar{
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
  
.navbar, .subNav{
    float: left;
    overflow: hidden;
}

.subNav .subNavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #002157;
    padding: 20px 20px;
    background-color: white;
    font-weight: bold;
}

.subNav:hover .subnav-content {
    display: block;
}

.subnav-content{
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    opacity: 90%;
    width: 100%;
    z-index: 1;
}
  
.subnav-content ,.sub-Nav{
    float: left;
    color: black;
    text-decoration: none;
    padding: 225px 0px;
}
  
.sub-Nav{
    font-size: 16px;  
    color: #002157;
    padding: 20px 20px;
    font-weight: bold;
}

.sub-Nav:hover, .subNavbtn:hover, .Title:hover, .Content:hover, .link:hover{
    color: #023c9b;
}

.Title, .Content{
    position: absolute;
}

.Title{
    font-weight: bold;
    font-size: 18px; 
}

#left{
    left: 200px;
}

#middle{
    left: 550px;
}

#right{
    left: 900px;
}

.link{
    text-decoration: none;
    color: black;
}
